

.results-header-container {
  font-size: 1.6em;
  text-align: center;
  padding: 1.3em 0 0 0;
}

.results-header {
  margin-bottom: 1em;
}

.results-footer-container {
  font-size: 1.5em;
  text-align: center;
  padding: 1.2em 0 0 0;
}

.passage-solution-container {
  padding-top: 1em;
  position: fixed;
  z-index: 10000;
  width: 50%;
  height: 1000vh;
}

.results-header-button-group button {
    margin: 0 10px 0 10px;  
}

.passage-questions-container {
  display: block;
  float: right;
  width: 50%;
}