.home-container {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  text-align: center;
}

.home-text {
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
}

.btn-default {
  background-color: #5c8ebe;
  background-image: none;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  text-shadow: none;
}

.login-button{
  background-color: #ee6906;
  border-radius: 2em;
  padding: .2em 1.2em .2em 1.2em;
  font-size: 1.8em;
}

.home-title-container .home-slogan {
  padding: 2em 0 2em 0;
  font-size: 1.5em;
}

.home-banner {
  display: inline;
}

.books-container {
  position:absolute;
  bottom:0;
}