body {
  overflow-x: hidden;
  background: #2e4562;
  color: #fff;
  letter-spacing: .05em;
  line-height: 1.5em;
  font-weight: 400;
  font-size: 1em;
}

header {
  background: #2e4562;
  color: white;
  min-height: 100vh;
}

th, 
td {    
  padding: 7px;
  border: 1px solid #D3D3D3;
}

